//colors
$desaturatedRed:hsl(0, 36%, 70%);
$softRed:hsl(0, 93%, 68%);
$darkGrayRed: hsl(0, 6%, 24%);
$gradient1:Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
$gradient2:Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

$fontSize: 16px;
$mainFont: 'Josefin Sans', sans-serif;
$lightFont: 300;
$regFont: 400;
$boldFont:600;




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }